body{
  border-left: 300px solid white;
  border-right: 300px  solid white;
  max-width: 800px;
  font-family: "Oxygen","Oxygen","Segoe UI","Helvetica Neue",sans-serif;
  position: absolute;
}
nav div{
  float: left;
  text-align: center;
  font-size: 22px;
  color: black;
  width: 77px;
  height: 50px;
  margin: 3px;
  padding: 3px;
  transition:all 0.3s ease;
}
.home{
  background-color: #E58a60;
}
.home:hover{
    box-shadow:
      1px 1px black,
      2px 2px black,
      3px 3px black;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}
.projects{
  background-color: #de5f9b;
}
.projects:hover{
    box-shadow:
      1px 1px black,
      2px 2px black,
      3px 3px black;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}
.papers{
  background-color: #67cc6c;
}
.papers:hover{
    box-shadow:
      1px 1px black,
      2px 2px black,
      3px 3px black;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}
.about{
  background-color: #52aed9;
}
.about:hover{
    box-shadow:
      1px 1px black,
      2px 2px black,
      3px 3px black;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}
#name{
  font-size: 35px;
  margin-right: 100px;
  margin-top: 20px;
  float: left;

}
#bar{
  margin: 3px;
  padding: 3px;
  background-color: black;
  width: 800px;
  height: 2px;
  margin-top: -30px;
}
img{
  float: left;
}
#vlc{

  width: 65%;

}
#hovercraft{
  margin-top: -10px;
  margin-bottom: -10px;
  width: 65%;
}
h1, h2, h3, h4, h5, h6, p{
  float: left;
}
