.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

.square, .circle, .triangle, .diamond, .hexagon {
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.square1, .square2 {
	background-color: #F94144;
}

.circle1, .circle2 {
	background-color: #F3722C;
}

.triangle1, .triangle2 {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid #F8961E;
}

.diamond1, .diamond2 {
	width: 0;
	height: 0;
	transform: rotate(45deg);
	border: 50px solid #F9C74F;
}

.hexagon1, .hexagon2 {
	width: 100px;
	height: 55px;
	background: #90BE6D;
	position: relative;
}

.hexagon1:before, .hexagon1:after, .hexagon2:before, .hexagon2:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
}

.hexagon1:before, .hexagon2:before {
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
}

.hexagon1:after, .hexagon2:after {
	border-bottom: 25px solid #90BE6D;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	top: 25px;
}
